body{

margin:0;
font-family:Segoe UI;

background:
linear-gradient(rgba(0,30,50,.6),rgba(0,10,30,.9)),
url("https://images.unsplash.com/photo-1582967788606-a171c1080cb0?q=80&w=2000")
center/cover fixed;

color:#e0f7fa;

}

header{

text-align:center;
padding:20px;

}

header h1{

font-size:34px;
letter-spacing:6px;

text-shadow:0 0 10px #00e5ff;

}

.gold{

color:gold;

}

main{

max-width:1000px;

margin:auto;

display:grid;

grid-template-columns:repeat(3,1fr);

grid-template-rows:repeat(2,200px);

gap:12px;

padding:10px;

}

.box{

background:rgba(0,30,60,.6);

border:1px solid rgba(255,255,255,.2);

border-radius:12px;

padding:10px;

display:flex;

flex-direction:column;

justify-content:space-between;

}

.box:hover{

border-color:#00e5ff;

}

button{

padding:6px;

border-radius:6px;

border:1px solid #00e5ff;

background:rgba(0,229,255,.1);

color:#00e5ff;

cursor:pointer;

}

button:hover{

background:#00e5ff;

color:#001a33;

}

canvas{

width:100%;

height:110px;

background:rgba(0,0,0,.3);

border-radius:8px;

}

img{

width:100%;
height:100px;
object-fit:cover;

border-radius:6px;

}
